body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0%;
}
.navbar{
    width: 100vw;
  text-align: center;
    background-color: #1a1a31;  
    
}
.logo-image{
    padding: 10px 5px 0 5px ;
    width: 30%;
    margin: 0 auto;
}
h1{
    font-size: 3rem;
    margin-bottom: .2rem;
}
h1 h3{font-family: 'Montserrat', sans-serif;
word-spacing: 2px;
letter-spacing: 2px;}
.main{
    display: inline-block;
}

.watch{
    width: 33%;
    height: 70%;
    margin-left: 150px;
}
#change{
    display:block;
    color:white;
    font-size: 2.5rem;
    position: absolute;
    top: 40%;
    left: 22.5%;
}
.heartRate{ display: none;
    margin: 0 auto;
    color:white;
    font-size: 3.5rem;
    position: absolute;
    top: 35%;
    left: 24%;
}
.fas{color:red}


/*right part*/
.right{ 
 position: absolute;
 top: 10%;
 left: 40%;
}
p{
    width:75% ;
    line-height: 2;
}

/*button section*/
.btn{
    width: 80px;
    height: 50px;
    border-radius: 5px;
    margin: 5px 15px  0 0;
    outline: none;
   
}
.black{
background-color: #23211f;
}
.red{
background-color:  #ca3d22;
}
.pink{
background-color:#e9c7be;
}
.blue{
    background-color: #565681;
}
.purple{
    background-color: #8a5362;
}
.buy-now{
    width: 100px;
    background-color:darkorange;
    padding: 8px 15px;
    border-radius: 5px;
    margin:1rem 0;
  
}
.time ,.heart{
    margin: 0 10px 5px 0px;
    padding: 8px 15px;
    border-color: transparent;
  
}
footer{position: absolute;
    bottom: 1%;
    left: 45%;
    margin:  0 auto;
    margin-bottom: 0px;
}








/******* responsive*******/
@media( max-width:768px){
   
    .main{
        display: block;
    }
    .right{
        position: relative;
        left: 40px;
    }
    p{
        font-size: 1.2rem;
    }
     
        .watch{
            width: 30%;
            height: 50%;
            margin-left: 0px;
        }
      button{
          font-size: 1rem;
      } 
      footer{
          position: relative;
          bottom: 100%;
          right: 45%;
      }

}